.table2 {
    border: 1px solid black;
    
    }
    
    th , td {
        border: 1px solid black;
    }
    
    .th1{
        border: 1px solid red;
        
    }
    
    .th2{
        color: red;
    }
    